@import '../../assets/scss/variables';

.footer {
  background: $white;
  border-top: 1px solid lighten($primary, 50);
  margin-top: $distance;
  padding: $distance 0;
  font-family: $font-monospace;
  letter-spacing: 2px;

  @media ($screen-md) {
    padding: (2 * $distance) 0;
  }
}

.legal {
  margin: 0;
}

.social {
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    font-size: 24px;
    color: lighten($primary, 50);
    display: inline-block;
    padding: 5px 10px;


    &:hover {
      text-decoration: none;
      color: $primary;
    }

    span {
      font-size: 12px;
      line-height: 24px;
      position: relative;
      top: -5px;
      left: -5px;
    }
  }
}

.code-logo {

}
