@import '../../assets/scss/variables';
@import '../../assets/scss/tools';
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-top: 2px solid $primary;
  margin-top: 3rem;
  padding: 6rem 1.5rem 6rem;
  text-align: center;
  .navbar {
    display: flex;
    .navbar-item {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0.5rem 0.75rem;
      .button {
        background-color: $secondary;
        border-color: #dbdbdb;
        border-width: 1px;
        border: 1px solid transparent;
        //border-radius: 4px;
        color: $white;
        cursor: pointer;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: calc(0.6em - 1px);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: calc(0.6em - 1px);
        text-align: center;
        white-space: nowrap;
        font-size: 16px;
      }
      .button.is-success {
        background-color: #6FCF97;
        border-color: transparent;
        color: #fff;
      }
      .button.is-text {
        background-color: transparent;
        border-color: transparent;
        color: #4a4a4a;
        text-decoration: underline;
      }
      .button.is-text:hover,
      .button.is-text:active {
        background-color: #f5f5f5;
        color: #363636;
      }
      .has-text-primary {
        color: #3A54A4 !important;
      }
    }
  }
  .navbar,
  .social {
    justify-content: center;
  }
  .social {
    padding: 2.125rem 0 3.25rem;
    align-items: stretch;
    font-size: 3rem;
    display: flex;
    a {
      color: #3A54A4;
    }
    li {
      align-items: center;
      display: flex;
      margin: 0 7px 0 7px;
    }
  }
  p {
    font-size: 13px;
    line-height: 22px;
  }
  .copy {
    font-family: Courier, monospace;
    font-size: 0.8125rem;
    .brand {
      display: inline-block;
      margin: 0 0 1rem;
    }
    .logo {
      width: 10.7125rem;
      height: 4.875rem;
    }
  }
}
