<footer class="footer">
  <div class="container has-text-centered">
    <nav>
      <ul class="navbar columns is-multiline is-mobile">
        <li class="navbar-item"><a class="button is-text has-text-primary" target="_blank"
            href="//code4.ro/ro/legal/">Legal</a></li>
        <li class="navbar-item"><a class="button is-text has-text-primary" target="_blank"
            href="//code4.ro/ro/codul-de-conduita/">Codul
            de
            Conduită</a></li>
        <li class="navbar-item"><a class="button is-text has-text-primary" target="_blank"
            href="//code4.ro/ro/implica-te/">Implică-te</a></li>
        <li class="navbar-item"><a class="button is-success" target="_blank" href="//code4.ro/ro/doneaza/">Donează</a>
        </li>
      </ul>
    </nav>
    <ul class="social">
      <li class="navbar-item"><a href="https://www.facebook.com/code4romania/" target="_blank"><i
            class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></li>
      <li class="navbar-item"><a href="https://twitter.com/Code4Romania" target="_blank"><i class="fa fa-fw fa-twitter"
            aria-hidden="true"></i></a></li>
      <li class="navbar-item"><a href="https://github.com/code4romania/" target="_blank"><i class="fa fa-fw fa-github"
            aria-hidden="true"></i></a></li>
      <li class="navbar-item"><a href="https://www.linkedin.com/company/code4romania/" target="_blank"><i
            class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
    <div class="copy"><a href="https://code4.ro/ro/" target="_blank" class="brand"><img
          src="https://code4.ro/images/logo-full-gray.svg" class="logo svg-fallback" alt="Code for Romania"></a>
      <p>© 2019 Code for Romania.<br>Organizație neguvernamentală independentă, neafiliată politic și apolitică.</p>
    </div>
  </div>
</footer>