@import '../../assets/scss/base';

body {
  background-color: $light-grey;
  color: $dark-font;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
