.Category {
  padding: 20px;
}

.Category-Name {
  text-align: center;
  display: inline-block;
  background: #ec6433;
  padding: 15px 20px;
  margin: 15px 15px;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
}
