<div class="category container" (window:resize)="onResize($event)">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="category-name">
        {{category.catname}}
      </div>
    </div>
    <div class="row">
      <carousel class="category-carousel">
        <slide *ngFor="let slide of theSlides; let index=index">
          <div class="category-app-slide">
            <div class="app-card"
              (click)="goToApp(app)"
              *ngFor="let app of category.apps.slice(index * noOfApps, (index+1)*noOfApps)">
            <div class="app-card-logo">
              <!--{{app.logoName}}-->
              {{app.appName}}
            </div>
            <div class="app-card-hash">
              {{app.tags}}
            </div>
           </div>
         </div>
        </slide>
      </carousel>
    </div>
  </div>

</div>
