@import '../../../../assets/scss/variables';

.category-name {
  font-weight: 700;

  small {
    display: block;
    font-size: 16px;
    margin-top: 3px;

    @media ($screen-sm) {
      display: inline;
      font-size: 20px;
      margin-top: 0;
    }
  }
}

.carousel {
  margin: ($distance / 3) 0 ;

  @media ($screen-md) {
    margin-bottom: 0;
    padding-bottom: $distance;

  }
}

.carousel-indicators {
  bottom: ($distance / 3);
  display: none;
  left: 0;
  margin: 0;
  width: 100%;

  @media ($screen-md) {
    display: block;
  }

  li {
    border-color: $primary;
    height: auto;
    margin: 1px 4px;
    padding: 5px;
    width: auto;
  }

  .active {
    background: $primary;
    height: auto;
    margin: 1px 4px;
    width: auto;
  }
}

.carousel-inner {
  padding: 10px;
}

.carousel-control {
  display: none;
}

.card {
  background: $white;
  border-radius: ($radius * 2);
  box-shadow: 3px 3px 3px 0 $grey;
  cursor: pointer;
  overflow: hidden;
  transition: $ease-in-out;

  &:hover {
    box-shadow: 3px 3px 3px 0 darken($grey, 8);

    h4,
    span {
      color: $primary;
    }
  }
}

.card-image {
  height: 0;
  padding-top: 100%;
  position: relative;

  img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.card-meta {
  margin: 0;
  min-height: ($distance + 5);
  padding: ($distance / 6) ($distance / 4);

  h4 {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: $ease-in-out;
    white-space: nowrap;
    width: 200px;
  }

  span {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: $ease-in-out;
  }
}

.card-owner {
  border-radius: 50%;
  overflow: hidden;
  width: ($distance * 2 / 3);
}
