@import '../../../../assets/scss/variables';

.category-name {
  color: $primary;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 0;
  padding-left: ($distance * 2 / 3);
  text-align: left;
  text-transform: uppercase;

  @media ($screen-sm) {
    font-size: 36px;
  }

  @media ($screen-md) {
    padding-left: $distance;
  }

}

.category-no {
  color: $font-grey;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 3px;

  @media ($screen-sm) {
    display: inline;
    margin-top: 0;
  }
}

.carousel {
  margin: ($distance / 6) 0 ($distance / 3);

  @media ($screen-md) {
    margin-bottom: 0;
    padding-bottom: ($distance * 4 / 3);

  }
}

.carousel-indicators {
  bottom: ($distance * 2 / 3);
  display: none;
  left: 0;
  margin: 0;
  width: 100%;

  @media ($screen-md) {
    display: block;
  }

  li {
    border-color: $primary;
    height: auto;
    margin: 1px 4px;
    padding: 5px;
    width: auto;
  }

  .active {
    background: $primary;
    height: auto;
    margin: 1px 4px;
    width: auto;
  }
}

.carousel-inner {
  padding: ($distance / 6) ($distance * 2 / 3);

  @media ($screen-md) {
    padding: ($distance / 6) $distance;
  }
}

.carousel-control {
  background: rgba(darken($primary, 8), 80);
  border-radius: $radius;
  cursor: pointer;
  text-align: center;
  top: 50%;
  margin-top: -35px;
  display: block;
  height: ($distance / 2);
  width: ($distance / 2);

  @media ($screen-md) {
    margin-top: -65px;
    height: ($distance * 2 / 3);
    width: ($distance * 2 / 3);
  }

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  .icon-next,
  .icon-prev {
    width: auto;
    height: auto;
    font-size: 16px;
    margin: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: ($distance / 2);
    text-align: center;
    display: inline;
    position: static;

    @media ($screen-md) {
      font-size: 20px;
      line-height: ($distance * 2 / 3);
    }
  }

  .icon-prev {
    &::before {
      content: '\f0d9';
      font-family: FontAwesome;
    }
  }

  .icon-next {
    &::before {
      content: '\f0da';
      font-family: FontAwesome;
    }
  }
}


.card {
  background: $white;
  border-radius: $radius;
  box-shadow: 3px 3px 3px 0 $grey;
  cursor: pointer;
  overflow: hidden;
  transition: $ease-in-out;

  &:hover {
    box-shadow: 3px 3px 3px 0 darken($grey, 8);

    h4,
    span {
      color: $primary;
    }
  }
}

.card-image {
  height: 0;
  padding-top: 100%;
  position: relative;
  background: $grey;
  overflow: hidden;

  img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.card-meta {
  margin: 0;
  padding: ($distance / 6) ($distance / 4);

  .media-body {
    height: ($distance * 3 / 4);
  }

  h4,
  span {
    transition: $ease-in-out;

    @media ($screen-sm) {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 210px;
    }

    @media ($screen-md) {
      width: 160px;
    }
  }

  h4 {
    font-weight: 700;
  }

  span {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: lowercase;
  }
}

.card-owner {
  background: $grey;
  border-radius: 50%;
  overflow: hidden;
  width: ($distance / 2);
  height: ($distance / 2);
}

.card-owner-blank {
  display: none;
}
