@import '../../assets/scss/variables';

.navbar-custom {
  background: $primary;
  border: 0;
  padding: ($distance / 4) 0;

  @media ($screen-md) {
    padding: ($distance / 3) 0;
  }

  > .container {
    .navbar-brand {
      @media ($screen-sm) {
        margin-left: 0;
      }
    }
  }

  .navbar-toggle {
    border: 0;
    float: none;
    margin: 0 0 0 ($distance / 4);
    padding: 13px 10px;

    &:hover,
    &:active,
    &:focus {
      background: darken($primary, 5);
    }
  }

  .navbar-brand {
    background: darken($primary, 8);
    color: $white;
    float: right;
    margin-right: ($distance / 4);
    padding: 0;
    text-indent: -9999px;

    &:hover,
    &:focus,
    &:active {
      background: darken($primary, 8);
    }
  }

  .navbar-collapse {
    border: 0;
    box-shadow: none;
  }

  .nav {
    > li {
      @media ($screen-sm) {
        margin-left: ($distance / 6);
      }

      > a {
        color: $white;
        font-weight: 700;
        letter-spacing: 1px;
        padding: ($distance / 6) ($distance / 3);
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active,
        &.active {
          background: darken($primary, 5);
        }
      }
    }
  }
}

.navbar-nav {
  margin: ($distance / 6) (-$distance / 6) 0;

  @media ($screen-sm) {
    margin: 0;
  }

  .fa-search {
    color: $white;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    padding: 0 12px;
  }
}

.navbar-form {
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.brand-small {
  height: 40px;
  width: 40px;
}

.brand-logo {
  height: 40px;
  width: 100px;
}
