<header class="main-header">
    <nav class="navbar navbar-inverse navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" (click)="isCollapsed = !isCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand brand-small hidden-md hidden-lg">USB</a>
                <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand brand-logo visible-md visible-lg">Centru Civic</a>
            </div>
            <div class="collapse navbar-collapse" id="collapse" [collapse]="isCollapsed">
                <ul class="nav navbar-nav  navbar-right">
                    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                    <li><a [routerLink]="['/about']" routerLinkActive="active">Despre Centru</a></li>
                    <li><a [routerLink]="['/add-app']" routerLinkActive="active">Adaugă</a></li>
                    <li *ngIf="isLoggedIn"><a [routerLink]="['/approve-app']" routerLinkActive="active">Aprobă</a></li>
                    <li *ngIf="!isLoggedIn"><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
                    <li *ngIf="isLoggedIn"><a [routerLink]="['/login']" (click)="logout()">Logout</a></li>
                    <li>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <!-- <form class="navbar-form search">
                            <div class="form-group">
                                <input #searchBox type="text"  class="form-control search-box" (keyup.enter) = "search(searchBox.value)" placeholder="Cauta"     />
                            </div>

                        </form> -->
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>
