@import '../../assets/scss/variables';

.navbar-custom {
  background: $primary;
  border: 0;
  border-radius: 0;
  padding: ($distance / 4) 0;

  @media ($screen-md) {
    padding: ($distance / 3) 0;
  }

  > .container {
    .navbar-brand {
      @media ($screen-sm) {
        margin-left: 0;
      }
    }
  }

  .navbar-toggle {
    border: 0;
    float: none;
    margin: 0 0 0 ($distance / 4);
    padding: 13px 10px;

    &:hover {
      background: darken($primary, 5);
    }

    &:active,
    &:focus {
      background: transparent;
    }
  }

  .logo-type {
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
    }
  }

  .navbar-brand {
    float: right;
    margin-right: ($distance / 4);
    padding: 0;

    &.brand-small {
      background: transparent;
      color: $secondary;
      font-size: 28px;
      line-height: 40px;
      margin: -6px 6px 0 0;
      text-align: center;
      text-indent: 0;
      transform: rotate(-90deg);
      width: 40px;
    }

    &:hover {
      .fa {
        color: $white;
      }
    }
  }

  .navbar-collapse {
    border: 0;
    box-shadow: none;

    @media ($screen-sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .nav {
    > li {
      @media ($screen-sm) {
        margin-left: ($distance / 6);
      }

      > a {
        border-radius: $radius;
        color: rgba($white, .8);
        font-weight: 700;
        letter-spacing: 1px;
        padding: ($distance / 6) ($distance / 3);
        text-transform: uppercase;

        @media ($screen-sm) {
          padding: ($distance / 6);
        }

        @media ($screen-md) {
          padding: ($distance / 6) ($distance / 3);
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
          background: darken($primary, 5);
          color: $white;
        }

        .fa {
          font-size: 18px;
          margin-right: 5px;
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

.navbar-nav {
  margin: ($distance / 6) (-$distance / 6) 0;

  @media ($screen-sm) {
    margin: 0;
  }
}

.navbar-form {
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.form-search {
  position: relative;

  .form-control {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: rgba($white, .8);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: ($distance / 6) ($distance / 3) ($distance / 6) 46px;
    height: 40px;
    line-height: 40px;
    transition: $ease-in-out;

    @media ($screen-sm) {
      padding: ($distance / 6) ($distance / 6) ($distance / 6) 36px;
      width: 100px;
    }

    &::-webkit-input-placeholder {
      color: rgba($white, .8);
    }

    &:hover,
    &:focus {
      background: darken($primary, 5);
      box-shadow: none;
      color: $white;

      &::-webkit-input-placeholder,
      + .fa-search {
        color: $white;
      }
    }

    &:focus {
      @media ($screen-sm) {
        width: 170px;
      }

      @media ($screen-lg) {
        width: 250px;
      }
    }
  }

  .fa-search {
    color: rgba($white, .8);
    left: 20px;
    line-height: 40px;
    position: absolute;
    top: 0;

    @media ($screen-sm) {
      left: 10px;
    }
  }
}

.logo-type {
  font-family: 'Raleway';
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 40px;
  height: 40px;

  &:hover,
  &:active,
  &:focus {
    color: $secondary;
    text-decoration: none;
  }

  .fa {
    color: $secondary;
    transform: rotate(-90deg);
    margin: 0 -4px;
    font-size: 30px;
    position: relative;
    top: -2px;
  }
}
