<section class="header-branding">
    <span>an app developed by</span>
    <a href="https://code4.ro" target="_blank" class="logo">
        <img src="assets/images/code4romania.png">
    </a>
</section>
<header class="main-header">
    <nav class="navbar navbar-inverse navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" (click)="isCollapsed = !isCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand brand-small hidden-xs hidden-md hidden-lg">
                    <i class="fa fa-usb" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand logo-type visible-xs visible-md visible-lg">
                    Centru Ci<i class="fa fa-usb" aria-hidden="true"></i>ic
                </a>
            </div>
            <div class="collapse navbar-collapse" id="collapse" [collapse]="isCollapsed">
                <ul class="nav navbar-nav  navbar-right">
                    <li>
                        <a [routerLink]="['/home']" routerLinkActive="active">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            Aplicații
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/add-app']" routerLinkActive="active">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            Adaugă
                        </a>
                    </li>
                    <li>
                        <form class="navbar-form search">
                            <div class="form-group form-search">
                                <input #searchBox type="text"  class="form-control search-box" (keyup.enter) = "search(searchBox.value)" placeholder="Caută" />
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </form>
                    </li>
                    <li>
                        <a [routerLink]="['/about']" routerLinkActive="active">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Despre Centru
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>
