@mixin underline($color) {
  color: $color;
  position: relative;
  text-decoration: none;

  &::after {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: $color;
  }

  &:hover,
  &:focus {
    color: darken($color, 8);

    &::after {
      background: darken($color, 8);
    }
  }
}

@mixin underline-reset {
  color: $primary;
  text-decoration: underline;

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    color: $black;
  }
}
