$primary: #441e5c;
$secondary: #ec6433;
$black: #00002e;
$purple: #441e5c;
$teal: #218c94;
$pink: #ff5d70;
$indigo: #00002e;
$dark-grey: #2d3e4f;
$light-grey: #f5f5f5;
$white: #fff;
$grey: #e7e7e7;
$black: #00002e;

$dark-font: $black;
$light-font: $white;

$font-monospace: 'Source Code Pro', 'Courier New', 'Courier', monospace;

$distance: 60px;
$radius: 4px;
$ease-in-out: all 170ms ease-in-out;

$screen-xs: 'min-width: 480px';
$screen-sm: 'min-width: 768px';
$screen-md: 'min-width: 992px';
$screen-lg: 'min-width: 1200px';
