@import 'variables';
@import 'tools';
@import 'inputs';

body {
  background-color: $light-grey;
  color: $font-black;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-weight: 700;

  .search-results & {
    font-weight: 400;
  }
}

p {
  font-size: 14px;
  line-height: 22px;
}

.page-title {
  margin-bottom: ($distance * 2 / 3);
  margin-top: ($distance / 3);
  text-align: center;

  h1,
  p {
    width: 100%;

    @media ($screen-md) {
      margin: 0 auto;
      max-width: 60%;
    }
  }

  p {
    margin-top: ($distance / 3);

    @media ($screen-md) {
      max-width: 70%;
    }
  }
}

img {
  height: auto;
  width: 100%;
}

a {
  color: $primary;

  &:hover,
  &:focus,
  &:active {
    color: darken($primary, 8);
    text-decoration: none;
  }
}

.btn {
  background: $grey;
  color: $black;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  .fa {
    font-size: 18px;
    position: relative;
    margin-right: 5px;
    top: 1px;
  }
}

.main-content {
  min-height: 600px;
}

.btn-cc {
  background: $primary;
  color: $white;

  &:focus,
  &:hover {
    color: $white;
  }
}

.carousel {
  margin: ($distance / 6) 0 ($distance / 3);

  @media ($screen-md) {
    margin-bottom: 0;
    padding-bottom: ($distance * 4 / 3);

  }
}

.carousel-indicators {
  bottom: ($distance * 2 / 3);
  display: none;
  left: 0;
  margin: 0;
  width: 100%;

  @media ($screen-md) {
    display: block;
  }

  li {
    border-color: $primary;
    height: auto;
    margin: 1px 4px;
    padding: 5px;
    width: auto;
  }

  .active {
    background: $primary;
    height: auto;
    margin: 1px 4px;
    width: auto;
  }
}

.carousel-inner {
  padding: ($distance / 6) ($distance * 2 / 3);

  @media ($screen-md) {
    padding: ($distance / 6) $distance;
  }
}

.carousel-control {
  background: rgba(darken($primary, 8), 80);
  border-radius: $radius;
  cursor: pointer;
  text-align: center;
  top: 50%;
  margin-top: -35px;
  display: block;
  height: ($distance / 2);
  width: ($distance / 2);

  .glyphicon{
    font-size: inherit;
    width: initial;
  }

  @media ($screen-md) {
    margin-top: -65px;
    height: ($distance * 2 / 3);
    width: ($distance * 2 / 3);
  }

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  .icon-next,
  .icon-prev {
    width: auto;
    height: auto;
    font-size: 16px;
    margin: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: ($distance / 2);
    text-align: center;
    display: inline;
    position: static;

    @media ($screen-md) {
      font-size: 20px;
      line-height: ($distance * 2 / 3);
    }
  }

  .icon-prev {
    &::before {
      content: '\f0d9';
      font-family: FontAwesome;
    }
  }

  .icon-next {
    &::before {
      content: '\f0da';
      font-family: FontAwesome;
    }
  }
}

.carousel-no-arrows {
  .carousel-control {
    display: none;
  }
}
