$primary: #ec6433;
$secondary: #441e5c;
$black: #00002e;
$purple: #441e5c;
$teal: #218c94;
$pink: #ff5d70;
$indigo: #00002E;
$dark-gray: #2d3e4f;
$light-grey: #f5f5f5;
$white: #fff;
$grey: #e7e7e7;
$black: #00002e;


$dark-font: $black;
$light-font: $white;