<div *ngIf="apps" class="search-results container">
    <h4 class="page-title">
        <span *ngIf="!apps.length">No results for: </span>
        <span *ngIf="apps.length">Search results for: </span>
        <span class="search-query">{{filter}}</span>
    </h4>
    <div class="row">
        <div *ngFor="let app of apps ">
            <div class="col-xs-12 col-sm-4">
                <div class="app-card" (click)="goToApp(app)">
                    <div class="app-card-logo">
                        {{app.appName}}
                    </div>
                    <div class="app-card-bottom-banner">
                        <div class="app-card-hash">{{app.tags}}</div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>