@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/tools';

.back {
  border-radius: $radius;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $primary;
  display: inline-block;
  padding: 10px;
  white-space: nowrap;
  margin-bottom: ($distance / 6);

  &:hover {
    background: $grey;
    color: darken($primary, 8);
    text-decoration: none;
  }

  .profile & {
    position: absolute;
    top: 0;
    left: 0;
  }

  .fa {
    font-size: 18px;
    margin-right: 5px;
  }
}

.app-profile {
  @media ($screen-md) {
    margin-top: ($distance / 3);
  }
}

.profile {
  margin: ($distance / 3) 0 0;
  position: relative;

  .media-left,
  .media-right,
  .media-body {
    display: block;

    @media ($screen-sm) {
      display: table-cell;
    }
  }

  .media-body {
    width: auto;

    @media ($screen-sm) {
      width: 1000px;
    }
  }
}

.profile-media {
  max-width: 100%;
  padding-right: 0;

  @media ($screen-sm) {
    padding-right: ($distance * 2 / 3);
  }
}

.profile-tags {
  text-transform: lowercase;
  font-weight: 700;
}

.profile-url {
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 6px;
  margin-left: -6px;

  &:hover {
    text-decoration: none;
  }

  span {
    @include underline($primary);
  }

  .fa {
    font-size: 12px;
    position: relative;
    top: 1px;
    right: -3px;
  }
}

.profile-image {
  margin: 0 auto;
  overflow: hidden;

  img {
    width: 100%;
  }

  @media ($screen-xs) {
    height: 150px;
    width: 150px;
    margin: 0 0 10px 0;
  }

  @media ($screen-xs) {
    height: 250px;
    width: 250px;
    margin: 12px 0;
  }
}

.profile-category {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: lighten($black, 50);
  line-height: 40px;
}

.profile-name {
  font-size: 46px;
  margin: 0;
}

.profile-meta {
  line-height: 16px;

  strong {
    display: block;
    text-transform: lowercase;
    margin-bottom: 5px;
  }

  .fa {
    font-size: 4px;
    position: relative;
    top: -2px;
    margin: 0 5px;
  }
}

.profile-date {
  display: block;
  line-height: 20px;
}

.profile-actions {
  margin-top: ($distance / 2);

  .btn {
    background: $primary;
    margin-right: ($distance / 4);
    margin-bottom: ($distance / 6);
    color: $white;
    line-height: 26px;

    .fa {
      color: $white;
      font-size: 24px;
      position: relative;
      top: 2px;
    }
  }
}

.subtitle {
  font-weight: 700;

  @media ($screen-sm) {
    text-align: left;
  }
}


