@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/tools';

.back {
  border-radius: $radius;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $primary;
  display: inline-block;
  padding: 10px;
  white-space: nowrap;

  &:hover {
    background: $grey;
    color: darken($primary, 8);
    text-decoration: none;
  }

  .profile & {
    position: absolute;
    top: 0;
    left: 0;
  }

  .fa {
    font-size: 18px;
    margin-right: 5px;
  }
}

.profile {
  margin: ($distance / 3) 0 0;
  position: relative;

  .media-left,
  .media-right,
  .media-body {
    display: block;

    @media ($screen-md) {
      display: table-cell;
    }
  }
}

.profile-media {
  max-width: 250px;
  padding-right: 0;

  @media ($screen-md) {
    padding-right: ($distance * 2 / 3);
    max-width: 100%;
  }
}

.profile-image {
  margin: ($distance / 3) auto;
  overflow: hidden;

  @media ($screen-md) {
    height: 250px;
    width: 250px;
    margin: 0 auto;

  }
}

.profile-category {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: lighten($black, 50);

  @media ($screen-md) {
    position: absolute;
    top: 0;
    left: 290px; //grr
    line-height: 40px;
  }
}

.profile-name {
  font-size: 46px;
  margin: 0 0 10px;
}

.profile-meta {
  line-height: 16px;

  strong {
    display: block;
    text-transform: lowercase;
    margin-bottom: 5px;
  }

  .fa {
    font-size: 4px;
    position: relative;
    top: -2px;
    margin: 0 5px;
  }
}

.profile-date {

}

.subtitle {
  // text-align: center;
  font-weight: 700;

  @media ($screen-md) {
    text-align: left;
  }
}


