@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/tools';

.back {
  border-radius: $radius;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary;
  display: inline-block;
  padding: 10px;

  &:hover {
    background: $grey;
    color: darken($primary, 8);
    text-decoration: none;
  }

  .profile & {
    position: absolute;
    top: 0;
    left: 0;
  }

  .fa {
    font-size: 18px;
    margin-right: 5px;
  }
}

.profile {
  margin: ($distance / 3) 0 0;
  position: relative;

  .media-left,
  .media-right,
  .media-body {
    display: block;

    @media ($screen-md) {
      display: table-cell;
    }
  }

  h1 {
    @media ($screen-md) {
      margin-left: $distance;
      margin-right: $distance;
    }
  }
}

.profile-media {
  padding-right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 250px;

  @media ($screen-md) {
    width: auto;
  }
}

.profile-image {
  border-radius: 100%;
  margin: ($distance * 2 / 3) auto;
  overflow: hidden;

  @media ($screen-md) {
    height: 250px;
    width: 250px;
    margin-bottom: 0;
  }
}

.profile-body {
  text-align: center;
  width: auto;

  @media ($screen-md) {
    width: 1000px;
  }
}

.profile-category {
  text-transform: uppercase;
  color: lighten($black, 50);
}

.profile-name {
  font-size: 46px;
  margin: 0 0 10px;
  text-align: center;

  @media ($screen-md) {
    margin: 10px 0;
  }
}

.profile-meta {
  line-height: 16px;

  strong {
    text-transform: lowercase;
  }

  .fa {
    font-size: 4px;
    position: relative;
    top: -2px;
    margin: 0 5px;
  }
}

.subtitle {
  text-align: center;
  font-weight: 700;

  @media ($screen-md) {
    text-align: left;
  }
}


