<section class="container ngo-profile">
    <div class="header">Developer</div>
    <div class="row">
        <div class="col-md-2">
            <div class="ngo-logo">
                <img src="../../../assets/images/mock-logo.png">
            </div>
        </div>
        <div class="col-md-5">
            <div class="card ngo-name">{{ngoDetails.name}}</div>
            <div class="card ngo-description">{{ngoDetails.description}}</div>
        </div>
        <div class="col-md-5">
            <div class="ngo-contact card">
                <div class="title">Contact details</div>
                <div class="ngo-phone">Phone: {{ngoDetails.phone}}</div>
                <div class="ngo-email">Email: {{ngoDetails.email}}</div>
                <ul class="social-share">
                    <span>Share on: </span>
                    <li class="social-item facebook"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></li>
                    <li class="social-item twitter"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></li>
                    <li class="social-item google"><i class="fa fa-2x fa-google-plus-square" aria-hidden="true"></i>+
                    </li>
                    <li class="social-item linkedin"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></li>
                    <li class="social-item instagram"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>s