<div class="col-xs-12 col-md-offset-2 col-md-6">
  <h2 class="subtitle">Autorul</h2>
  <div class="ngo-card">
    <h3>{{ngoDetails.name}}</h3>

    <span class="ngo-phone">
      <i class="fa fa-phone" aria-hidden="true"></i>
      {{ngoDetails.phone}}
    </span>

    <a href="mailto:{{ngoDetails.email}}" class="ngo-email">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      {{ngoDetails.email}}
    </a>

    <ul class="ngo-socialist">
      <li *ngIf="ngoDetails.facebook">
        <a href="{{ngoDetails.facebook}}" target="_blank" class="ngo-social">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li *ngIf="ngoDetails.googleplus">
        <a href="{{ngoDetails.googleplus}}" target="_blank" class="ngo-social">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
      </li>
      <li *ngIf="ngoDetails.linkedin">
        <a href="{{ngoDetails.linkedin}}" target="_blank" class="ngo-social">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li *ngIf="ngoDetails.twitter">
        <a href="{{ngoDetails.twitter}}" target="_blank" class="ngo-social">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li *ngIf="ngoDetails.instagram">
        <a href="{{ngoDetails.instagram}}" target="_blank" class="ngo-social">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <p>{{ngoDetails.description}}</p>
    <img src="{{ngoDetails.logoname}}" alt="{{ngoDetails.name}}">
  </div>
</div>
