.CategoriesNav {

}

.CategoriesNav-Category {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
  background: #ec6433;
  padding: 15px;
  margin: 15px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  &:hover {
    opacity: 0.9;
  }

  &--selected {
    background-color: #441e5c;
  }
}
