@import '../../../../assets/scss/variables';

.categories {
  margin-bottom: ($distance / 3);

  @media ($screen-md) {
    margin-top: ($distance / 3);
  }
}

.category-item {
  background: $primary;
  border-radius: $radius;
  box-shadow: 3px 3px 3px 0 $grey;
  color: rgba($white, .8);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: ($distance / 6);
  padding: ($distance / 6) ($distance / 4);
  text-align: center;
  text-transform: uppercase;

  @media ($screen-sm) {
    font-size: 16px;
    margin-bottom: ($distance / 4);
    padding: ($distance / 4) ($distance / 3);
  }

  &:hover {
    background: darken($primary, 8);
    color: $white;
  }

  &.category-item-selected {
    background: $secondary;
    color: $white;
  }
}
