<add-app #addAppComponent [app] = "selectedApp" [isAddingNewApp]= "false"></add-app>
<spinner *ngIf = "showSpinner"></spinner>
<div *ngIf="apps" class="approve-app container">
    <div class="row">
    <div *ngFor="let app of apps ">
            <div class="col-xs-12 col-sm-4">
                <div class="app-card" (click) = "editApp(app)">
                    <div class="app-card-logo">
                        {{app.appdetail.name}}
                    </div>
                    <div class="app-card-bottom-banner">
                        <div class="app-card-hash">{{app.appdetail.hashtags}}</div>
                        <label class="switch">
                            <input [(ngModel)]= "app.appdetail.isapprovedbool" [checked]="app.appdetail.isapprovedbool"  (ngModelChange)="updateApp(app)" type="checkbox">
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>