<div class="row home-banner">
  <div class="banner-background"></div>
  <div class="banner-content col-md-6 col-md-offset-3">
    <h1 class="intro-heading">Centru Civic</h1>
    <p class="intro-text">Centru Civic este primul centralizator de aplicații civice din România, un proiect în
      continuă actualizare care se adresează aplicațiilor dezvoltate de ONG-uri, instituții sau cetăţeni din România.</p>
    <a [routerLink]="['/about']" routerLinkActive="active" class="intro-button">
      <i class=" fa fa-info" ></i>
      Despre noi</a>
  </div>
</div>