@import '../../../../assets/scss/variables';

.add-app {
  .header {
    text-align: center;
    h2 {
      padding: 10px;
      margin: 20px 0;
      display: inline-block;
    }


  }
  .form-actions {
    .btn {
      background: $primary;
      color: $white;
    }
  }
}