<div class="container">
    <div *ngIf="app" class="add-app">
        <div class="header">
            <h2> Add App</h2>
        </div>

        <div class="row">
            <section class="col-xs-12 col-md-6 app-details">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.appdetail.name" placeholder="Name"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.appdetail.website"
                           placeholder="Website-ul aplicatiei">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.appdetail.github"
                           placeholder="Github link">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.appdetail.facebook"
                           placeholder="Pagina de Facebook a aplicatiei">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.appdetail.creationdate"
                           placeholder="Data crearii aplicatiei">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.appdetail.logoname"
                           placeholder="Upload logo">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="app.appdetail.description"
                              placeholder="Descrierea aplicatiei (1000 de caractere)"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.appdetail.categoryid"
                           placeholder="Alege domeniul">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.appdetail.hashtags"
                           placeholder="Alege un #hastag pentru aplicatia ta">
                </div>

            </section>

            <section class="col-xs-12 col-md-6 ngo-details">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.name"
                           placeholder="Numele organizatiei"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.phone" placeholder="Telefon">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.facebook"
                           placeholder="Facebook page">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.googleplus" placeholder="G+">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.linkedin"
                           placeholder="LinkedIn page">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.twitter" placeholder="Twitter">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.Instagram"
                           placeholder="Instagram">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="app.ngodetail.description"
                              placeholder="Descriere organizatie (500 de caractere)"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="app.ngodetail.logoname"
                           placeholder="Upload logo">
                </div>
            </section>
        </div>

        <div class="form-actions">
            <button id="save" (click)="addApp()" type="button" class="btn btn-default pull-right">Adauga aplicatie
            </button>
        </div>


    </div>
</div>


